@use '../../shared/styles/colors' as *;
@use 'cinefy-ui/styles/mixins' as *;
@use 'cinefy-ui/styles/breakpoints' as *;

.menu-btn {
  @include flex-center;
  padding: 8px;
  margin-left: -8px;
  color: $gray-500;
  border-radius: $radius-md;
  transition: all $transition-fast;

  &:hover {
    color: $gray-700;
    background-color: $gray-100;
  }

  @include from-desktop {
    display: none;
  }
}
