**/node_modules
**/dist
**/.angular
**/.vscode
**/.idea
**/.claude

**/*.log
**/npm-debug.log*
**/pnpm-debug.log*

**/.env
**/*.env
!**/*.env.example

**/CLAUDE.md
**/README.md
mvp-version
Dockerfile
.dockerignore
.gitignore
