<div class="stepper-container">
  <div class="sc-sidebar">
    <div class="sc-steps">
      <div class="scs-header">Setup Checklist</div>
      <ol class="scs-items">
        @for (step of steps(); track $index) {
          <li
            class="scs-item"
            [class.active]="currentStep() === $index"
            [class.done]="$index < currentStep()"
          >
            <div class="sci-num">
              @if ($index < currentStep()) {
                <svg [lucideIcon]="CheckIcon" [size]="15"></svg>
              } @else {
                {{ $index + 1 }}
              }
            </div>
            <div class="sci-info">
              <h5>{{ step.label }}</h5>
              @if (step.description) {
                <p>{{ step.description }}</p>
              }
            </div>
          </li>
        }
      </ol>
    </div>
    @let tip = noteTip();
    @if (tip) {
      <help-hint [title]="tip.title" [icon]="CircleQuestionIcon">
        @if (noteTipTpl(); as tpl) {
          <ng-container [ngTemplateOutlet]="tpl" />
        } @else {
          {{ noteTipText() }}
        }
      </help-hint>
    }
  </div>
  <div class="sc-content">
    <ng-container [ngTemplateOutlet]="steps()[currentStep()].content"></ng-container>
  </div>
</div>
