:host {
  display: inline-flex;
  flex-shrink: 0;
}

.cui-switch-v2 {
  &[data-size="sm"] {
    --p-toggleswitch-width: 36px;
    --p-toggleswitch-height: 20px;
    --p-toggleswitch-handle-size: 16px;
  }

  &[data-color="accent"] {
    --p-toggleswitch-checked-background: var(--cui-accent);
    --p-toggleswitch-checked-hover-background: var(--cui-accent);
    --p-toggleswitch-focus-ring-color: var(--cui-ring);
  }

  &[data-color="highlight"] {
    --p-toggleswitch-checked-background: var(--cui-highlight);
    --p-toggleswitch-checked-hover-background: var(--cui-highlight);
    --p-toggleswitch-focus-ring-color: var(--cui-highlight-ring);
  }
}
