<div class="upcoming">
  <div class="header">
    <div class="h-icon">
      <svg [lucideIcon]="icons.CalendarIcon" [size]="20"></svg>
    </div>
    <div class="h-info">
      <h3>Upcoming</h3>
      <p>3 movies scheduled</p>
    </div>
  </div>
  <div class="upcoming-movies-container">
    <div class="um-list">
      @for (movie of upcomingMovies; track movie.title) {
        <div class="um-card">
          <div class="umc-poster">
            <media-image [src]="movie.posterUrl" [alt]="movie.title" [iconSize]="20" />
          </div>
          <div class="umc-info">
            <div class="umc-details">
              <h4>{{ movie.title }}</h4>
              <p>{{ movie.genres?.join(', ') }} · {{ movie.contentRating }}</p>
              @if (movie.releaseDate; as releaseDate) {
                <div class="umc-release">
                  <svg [lucideIcon]="icons.ClockIcon" [size]="11"></svg>
                  <span>{{ daysUntil(releaseDate) }} days left</span>
                </div>
              }
            </div>
            @if (movie.releaseDate; as releaseDate) {
              <div class="umc-date">{{ releaseDate | date: 'MMM d' }}</div>
            }
          </div>
        </div>
      }
    </div>
    <div class="um-actions">
      <a [routerLink]="'/movies'">View All Upcoming</a>
    </div>
  </div>
</div>
