<div class="app-layout-container">
  <header class="app-layout-header">
    <div class="alh-inner">
      <div class="alh-tabs">
        <a class="alh-main-tab" routerLink="/">
          <svg [lucideIcon]="icons.ClapperboardIcon" [size]="24"></svg>
          <span class="alh-main-tab-text">Cinefy</span>
        </a>
        <div class="alh-sub-tabs">
          <a class="sub-tab" routerLink="/movies">Movies</a>
        </div>
      </div>
      <div class="alh-info">
        <button
          class="alh-tickets-btn btn-primary"
          title="My Tickets"
          ngpButton
          [ngpDialogTrigger]="myTicketsDialog"
        >
          <svg [lucideIcon]="icons.TicketIcon" [size]="18"></svg>
          <span class="tb-count">2</span>
        </button>
        <ng-template #myTicketsDialog let-close="close">
          <my-tickets-list [close]="close" />
        </ng-template>
        @if (isAuthenticatedLoading() || currentUserLoading()) {
          <div class="alh-auth-loading">
            <loading-spinner variant="sm" />
          </div>
        } @else if (isAuthenticated()) {
          <button class="alh-user" ngpButton [ngpMenuTrigger]="userInfoMenu">
            <span class="alh-user-icon">
              <svg [lucideIcon]="icons.UserIcon" [size]="20"></svg>
            </span>
            @if (userDisplayName()) {
              <span class="alh-user-name">{{ userDisplayName() }}</span>
            }
          </button>
          <ng-template #userInfoMenu>
            <div class="user-info-menu-items" ngpMenu>
              @for (item of userInfoMenuItems; track item.label) {
                <button class="uim-item" ngpMenuItem (click)="item.action()">
                  <svg [lucideIcon]="item.icon" [size]="16"></svg>
                  <span>{{ item.label }}</span>
                </button>
              }
            </div>
          </ng-template>
        } @else {
          <span class="alh-divider"></span>
          <div class="alh-auth">
            <a class="alh-auth-btn btn-secondary" routerLink="/membership/login">
              <svg [lucideIcon]="icons.LoginIcon" [size]="16"></svg>
              <span class="ab-text">Login</span>
            </a>
            <a class="alh-auth-btn btn-primary" routerLink="/membership/signup">
              <svg [lucideIcon]="icons.SignupIcon" [size]="16"></svg>
              <span class="ab-text">Sign up</span>
            </a>
          </div>
        }
      </div>
    </div>
  </header>

  <main class="app-layout-content">
    <router-outlet />
  </main>

  <footer class="app-layout-footer">
    <div class="alf-inner">
      <div class="alf-site-name">
        <svg [lucideIcon]="icons.ClapperboardIcon" [size]="20"></svg>
        <span class="alf-site-name-text">Cinefy</span>
      </div>
      <div class="alf-site-info">© {{ currentYear }} Cinefy. All rights reserved.</div>
    </div>
  </footer>
</div>
