<div class="app-layout-container">
  <header class="app-layout-header">
    <div class="alh-inner">
      <div class="alh-tabs">
        <a class="alh-main-tab" routerLink="/">
          <lucide-icon [img]="icons.ClapperboardIcon" [size]="24" />
          <span class="alh-main-tab-text">Cinefy</span>
        </a>
        <div class="alh-sub-tabs">
          <a class="sub-tab" routerLink="/movies">Movies</a>
        </div>
      </div>
      <div class="alh-info">
        <button class="alh-tickets-btn btn-primary" ngpButton [ngpDialogTrigger]="myTicketsDialog">
          <lucide-icon [img]="icons.TicketIcon" [size]="16" />
          <span class="tb-text">My Tickets</span>
          <span class="tb-count">2</span>
        </button>
        <ng-template #myTicketsDialog let-close="close">
          <my-tickets-list [close]="close" />
        </ng-template>
        <button class="alh-user-info" ngpButton [ngpMenuTrigger]="userInfoMenu">
          <lucide-icon [img]="icons.UserIcon" [size]="20" />
        </button>
        <ng-template #userInfoMenu>
          <div class="user-info-menu-items" ngpMenu>
            @for (item of userInfoMenuItems; track item.label) {
              <button class="uim-item" ngpMenuItem (click)="item.action()">
                <lucide-icon [img]="item.icon" [size]="16" />
                <span>{{ item.label }}</span>
              </button>
            }
          </div>
        </ng-template>
      </div>
    </div>
  </header>

  <main class="app-layout-content">
    <router-outlet />
  </main>

  <footer class="app-layout-footer">
    <div class="alf-inner">
      <div class="alf-site-name">
        <lucide-icon [img]="icons.ClapperboardIcon" [size]="20" />
        <span class="alf-site-name-text">Cinefy</span>
      </div>
      <div class="alf-site-info">© {{ currentYear }} Cinefy. All rights reserved.</div>
    </div>
  </footer>
</div>
