<app-modal
  #modal
  [modalTitle]="modalTitle()"
  [description]="modalDescription()"
  [close]="close()"
  width="640px"
  bodyPadding="0"
>
  <stepper [steps]="steps()" [(currentStep)]="currentStep" />
  <ng-template #identity>
    <div>Identity Content</div>
  </ng-template>
  <ng-template #credentials>
    <div>Credentials Content</div>
  </ng-template>
  <ng-template #integration>
    <div>Integration Content</div>
  </ng-template>
  <ng-template #verify>
    <div>Verify Content</div>
  </ng-template>
  <ng-template #review>
    <div>Review Content</div>
  </ng-template>

  <div modal-footer class="manage-footer">
    <button
      ngpButton
      class="btn-secondary"
      [style.visibility]="currentStep() > 0 ? 'visible' : 'hidden'"
      (click)="goToPreviousStep()"
    >
      Back
    </button>
    @let isLastStep = currentStep() === steps().length - 1;
    <button ngpButton class="btn-primary" (click)="isLastStep ? saveAsDraft() : goToNextStep()">
      {{ isLastStep ? 'Save as Draft' : 'Continue' }}
    </button>
  </div>
</app-modal>
