<app-modal
  #modal
  [modalTitle]="modalTitle()"
  [description]="modalDescription()"
  [close]="close()"
  width="640px"
  bodyPadding="0"
>
  <stepper [steps]="steps()" [(currentStep)]="currentStep" />
  <ng-template #identity>
    <div>Identity Content</div>
  </ng-template>
  <ng-template #credentials>
    <div>Credentials Content</div>
  </ng-template>
  <ng-template #integration>
    <div>Integration Content</div>
  </ng-template>
  <ng-template #verify>
    <div>Verify Content</div>
  </ng-template>
  <ng-template #review>
    <div>Review Content</div>
  </ng-template>

  <div modal-footer class="manage-footer">
    @if (currentStep() > 0) {
      <button ngpButton class="btn-secondary" (click)="goToPreviousStep()">Back</button>
    }
    @if (currentStep() === steps().length - 1) {
      <button ngpButton class="btn-primary">Save as Draft</button>
    } @else {
      <button
        ngpButton
        class="btn-primary"
        [disabled]="currentStep() === steps().length - 1"
        (click)="goToNextStep()"
      >
        Continue
      </button>
    }
  </div>
</app-modal>
