@use '../../../shared/styles/colors' as *;
@use '../../../shared/styles/mixins' as *;

.statistics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  margin-bottom: 32px;

  @media (max-width: 1023px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 639px) {
    grid-template-columns: 1fr;
  }
}

.stat-card {
  background-color: #ffffff;
  border-radius: $radius-lg;
  border: 1px solid $card-border;
  padding: 24px;
  @include flex-align;
  gap: 12px;
}

.sc-icon {
  @include icon-box(48px);

  &.blue {
    background-color: $blue-100;

    lucide-icon {
      color: $blue-600;
    }
  }

  &.green {
    background-color: $green-100;

    lucide-icon {
      color: $green-600;
    }
  }

  &.purple {
    background-color: $purple-100;

    lucide-icon {
      color: $purple-600;
    }
  }

  &.orange {
    background-color: $orange-100;

    lucide-icon {
      color: $orange-600;
    }
  }
}

.sc-info {
  h3 {
    font-size: 24px;
    font-weight: 700;
    color: $gray-900;
    line-height: 1.2;
  }

  p {
    font-size: 14px;
    color: $gray-500;
    margin-top: 2px;
  }
}
