@use '../../../shared/styles/colors' as *;
@use 'cinefy-ui/styles/mixins' as *;

:host {
  display: block;
  margin-bottom: 32px;
}

.statistics-loading {
  @include flex-center;
  min-height: 96px;
  color: $gray-500;
}
