<app-modal modalTitle="Schedule a Movie" [close]="close()" width="640px">
  <div ngpFormField class="search-bar">
    <div ngpSearch>
      <lucide-icon [img]="SearchIcon"></lucide-icon>
      <input
        [value]="movieSearchQuery()"
        (input)="movieSearchQuery.set($event.target.value)"
        ngpInput
        type="search"
        placeholder="Search for a movie..."
      />
      <button ngpSearchClear ngpButton aria-label="Clear search">Clear</button>
    </div>
  </div>
  @if (!selectedMovie()) {
    @if (movieSearchQuery().length === 0) {
      <div class="search-placeholder">
        <div class="sp-icon" data-variant="empty">
          <lucide-icon [img]="MovieIcon"></lucide-icon>
        </div>
        <h4>Search for a movie</h4>
        <p>Type a movie title to find it in the catalog</p>
      </div>
    } @else if (filteredMovies().length > 0) {
      <div class="search-count">{{ filteredMovies().length }} movies found</div>
      <div class="movie-items">
        @for (movie of filteredMovies(); track movie.id) {
          <div class="movie-item">
            <div class="mi-info">
              <div class="mi-img">
                <img [src]="movie.posterUrl" [alt]="movie.title + ' Poster'" />
              </div>
              <div class="mi-details">
                <h4>{{ movie.title }}</h4>
                <div class="mid-box">
                  <span class="midb-item">{{ movie.genre }}</span>
                  <span class="midb-item">{{ movie.releaseYear }}</span>
                  <span class="midb-item">{{ movie.duration }} min</span>
                </div>
              </div>
            </div>
            <div class="mi-actions">
              <div class="mia-item">
                <lucide-icon [img]="ChevronRightIcon"></lucide-icon>
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="search-placeholder">
        <div class="sp-icon" data-variant="no-results">
          <lucide-icon [img]="SearchIcon"></lucide-icon>
        </div>
        <h4>No movies found</h4>
        <p>Try a different title</p>
      </div>
    }
  } @else {}
</app-modal>
