<app-modal modalTitle="Schedule a Movie" [close]="close()" width="640px">
  @if (!selectedMovie()) {
    <div ngpFormField class="search-bar">
      <div ngpSearch>
        <lucide-icon [img]="SearchIcon"></lucide-icon>
        <input
          [value]="movieSearchQuery()"
          (input)="movieSearchQuery.set($event.target.value)"
          ngpInput
          type="search"
          placeholder="Search for a movie..."
        />
        <button ngpSearchClear ngpButton aria-label="Clear search">Clear</button>
      </div>
    </div>
    @if (movieSearchQuery().length === 0) {
      <div class="search-placeholder">
        <div class="sp-icon" data-variant="empty">
          <lucide-icon [img]="MovieIcon"></lucide-icon>
        </div>
        <h4>Search for a movie</h4>
        <p>Type a movie title to find it in the catalog</p>
      </div>
    } @else if (filteredMovies().length > 0) {
      <div class="search-count">{{ filteredMovies().length }} movies found</div>
      <div class="movie-items">
        @for (movie of filteredMovies(); track movie.id) {
          <div class="movie-item" (click)="this.selectedMovie.set(movie)">
            <div class="mi-info">
              <div class="mi-img">
                <img [src]="movie.posterUrl" [alt]="movie.title + ' Poster'" />
              </div>
              <div class="mi-details">
                <h4>{{ movie.title }}</h4>
                <div class="mid-box">
                  <span class="midb-item">{{ movie.genre }}</span>
                  <span class="midb-item">{{ movie.releaseYear }}</span>
                  <span class="midb-item">{{ movie.duration }} min</span>
                </div>
              </div>
            </div>
            <div class="mi-actions">
              <div class="mia-item">
                <lucide-icon [img]="ChevronRightIcon"></lucide-icon>
              </div>
            </div>
          </div>
        }
      </div>
    } @else {
      <div class="search-placeholder">
        <div class="sp-icon" data-variant="no-results">
          <lucide-icon [img]="SearchIcon"></lucide-icon>
        </div>
        <h4>No movies found</h4>
        <p>Try a different title</p>
      </div>
    }
  } @else {
    <manage-showtime-modal
      [selectedMovie]="selectedMovie()!"
      (changeMovie)="selectedMovie.set(null)"
    />
  }

  @if (selectedMovie()) {
    <div modal-footer class="schedule-footer">
      <button ngpButton class="btn-secondary" (click)="close()()">Cancel</button>
      <button
        ngpButton
        class="btn-primary"
        [disabled]="!showtimeForm()?.canSubmit()"
        (click)="onCreateShowtime()"
      >
        Create Showtime
      </button>
    </div>
  }
</app-modal>
