@use '../select' as *;
@use '../../../shared/styles/colors' as *;

custom-select {
  display: block;

  .cs-label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 600;
    color: $gray-900;

    &[data-required]::after {
      content: '*';
      color: $red-500;
      margin-left: 3px;
    }
  }

  .cs-trigger {
    @include select-trigger;
  }

  .cs-placeholder {
    @include select-placeholder;
  }

  .cs-chevron {
    @include select-chevron;
  }

  .cs-clear {
    @include select-clear;
  }
}

.cs-dropdown {
  @include select-dropdown;
}

.cs-option {
  @include select-option;
}

.cs-search {
  @include select-search;
}

.cs-empty {
  @include select-empty;
}
