<div class="cui-select-wrapper">
  @if (label(); as labelText) {
  <label class="cui-select-label" [attr.data-required]="isRequired() ? '' : null">{{ labelText }}</label>
  } @if (multi()) {
  <p-select
    [formControl]="control()"
    [multiple]="true"
    (onClear)="onMultiClear()"
    [options]="items()"
    [optionLabel]="labelField()"
    [optionValue]="valueField()"
    [placeholder]="placeholder()"
    [showClear]="clearable()"
    [filter]="searchable()"
    [appendTo]="container()"
    [invalid]="isInvalid()"
    size="large"
  >
    <ng-template #header>
      @if (items().length) {
      <div class="cui-select-header">
        <button type="button" class="cui-select-header-action" (click)="onSelectAll()">Select All</button>
        <button type="button" class="cui-select-header-action" data-variant="clear" (click)="onMultiClear()">
          Clear
        </button>
      </div>
      }
    </ng-template>
  </p-select>
  } @else {
  <p-select
    [formControl]="control()"
    [options]="items()"
    [optionLabel]="labelField()"
    [optionValue]="valueField()"
    [placeholder]="placeholder()"
    [showClear]="clearable()"
    [filter]="searchable()"
    [appendTo]="container()"
    [invalid]="isInvalid()"
    size="large"
  >
    <ng-template #selectedItem let-item>{{ item[selectedItemLabel() ?? labelField()] }}</ng-template>
  </p-select>
  } @if (hint(); as hintText) {
  <p class="cui-select-hint">{{ hintText }}</p>
  } @if (isInvalid()) {
  <cui-field-error [control]="control()" [messages]="errorMessages()" />
  }
</div>
