<ul class="statistics">
  @for (card of cards(); track card.label; let i = $index) {
    <li class="stat-card" [class]="VARIANTS[i % VARIANTS.length]">
      <span class="sc-rule"></span>

      <div class="sc-head">
        <p class="sc-label">{{ card.label }}</p>
        <span class="sc-icon">
          <svg [lucideIcon]="card.icon" [size]="18" [strokeWidth]="2"></svg>
        </span>
      </div>

      <div class="sc-value">
        <span class="sc-value-inner">{{ card.value }}</span>
      </div>
    </li>
  }
</ul>
