<div class="today-showings">
  <div class="header">
    <div class="header-left">
      <div class="hl-icon">
        <svg [lucideIcon]="icons.ClapperboardIcon" [size]="20"></svg>
      </div>
      <div class="hl-info">
        <h3>Now Showing</h3>
        <p>4 movies screening today</p>
      </div>
    </div>
    <div class="header-right">
      <a [routerLink]="'/movies'"
        >View All <svg [lucideIcon]="icons.ChevronRightIcon" [size]="16"></svg
      ></a>
    </div>
  </div>
  <ul class="now-showing-movies">
    @for (movie of nowShowingMovies; track movie.title) {
      <li class="nsm-card">
        <div class="nsm-poster">
          <img [src]="movie.poster" [alt]="movie.title" />
        </div>
        <div class="nsm-info">
          <div class="nsm-details">
            <h4>{{ movie.title }}</h4>
            <p>{{ movie.genre }}</p>
          </div>
          <div class="nsm-stats">
            <div class="nsm-stat">
              <svg [lucideIcon]="icons.ClockIcon" [size]="15"></svg>
              <span>{{ movie.showtimes }}</span>
              <span>{{ movie.showtimes > 1 ? 'shows' : 'show' }}</span>
            </div>
            <div class="nsm-stat">
              <svg [lucideIcon]="icons.TicketIcon" [size]="15"></svg>
              <span>{{ movie.ticketsSold }}</span>
              <span>sold</span>
            </div>
            <div class="nsm-stat">
              <svg [lucideIcon]="icons.DollarSignIcon" [size]="15"></svg>
              <span>{{ movie.revenue }}</span>
              <span>revenue</span>
            </div>
            <div class="nsm-stat">
              <svg [lucideIcon]="icons.UsersIcon" [size]="15"></svg>
              <span>{{ movie.occupancy }}</span>
              <span>occupancy</span>
            </div>
          </div>
        </div>
        <div class="nsm-actions">
          <button>View Details</button>
          <button>Edit</button>
        </div>
      </li>
    }
  </ul>
</div>
