@if (seatSelectionResource.isLoading()) {
  <div class="ss-loading">
    <loading-spinner variant="lg" />
  </div>
} @else if (seatSelectionResource.error()) {
  <empty-state
    class="ss-error"
    [icon]="icons.TriangleAlertIcon"
    title="Couldn't load this showtime"
    description="Something went wrong. Please try again later."
  />
} @else if (seatSelection(); as data) {
  <div class="seat-selection-container">
    <div class="ss-header">
      <div class="ss-header-inner">
        <a class="ss-back" routerLink="/movies/{{ movieId() }}">
          <svg [lucideIcon]="icons.ArrowLeftIcon" [size]="20"></svg>
        </a>

        <div class="ss-info">
          <h1 class="ss-title">{{ data.movieTitle }}</h1>
          <p class="ss-meta">
            <span>
              {{ data.startDateTime | date: 'EEE, MMM d' }} •
              {{ data.startDateTime | date: 'shortTime' }} • {{ data.hallName }} ({{
                data.hallType
              }})
            </span>
            @if (data.is3D) {
              <span class="ss-meta-badge">3D</span>
            }
          </p>
        </div>

        <!-- <div class="ss-timer" [class.expiring]="expiring()">
        <svg [lucideIcon]="icons.ClockIcon" [size]="16"></svg>
        <span class="ss-timer-value">{{ countdown() }}</span>
      </div> -->
      </div>
    </div>

    <div class="ss-body">
      <div class="ss-map">
        <div class="ss-screen">
          <div class="ss-screen-glow"></div>
          <div class="ss-screen-line"></div>
          <span class="ss-screen-label">Screen</span>
        </div>

        <seat-map
          [rows]="hall()"
          [initialSelectedIds]="myReservedIds()"
          (selectionChange)="selectedSeats.set($event)"
        />
      </div>

      <div class="ss-summary">
        <booking-summary
          [showtimeId]="showtimeId()!"
          [selectedSeats]="selectedSeats()"
          [prices]="prices()"
        />
      </div>
    </div>
  </div>
}
