<div class="header-container">
  <div class="header-inner">
    <div class="header-left">
      <button class="hamburger-btn" (click)="openSidebar()">
        <lucide-icon [img]="icons.MenuIcon" [size]="22"></lucide-icon>
      </button>
      <div class="hl-icon">
        <lucide-icon [img]="icons.CalendarIcon" [size]="18"></lucide-icon>
      </div>
      <div class="hl-info">
        <h3>{{ currentDate | date: 'EEEE, MMM d, yyyy' }}</h3>
        <p>Welcome back, Admin</p>
      </div>
    </div>
    <div class="header-right">
      @if (headerActionsTemplate()) {
        <div class="header-actions">
          <ng-container *ngTemplateOutlet="headerActionsTemplate()"></ng-container>
        </div>
        <div class="header-divider"></div>
      }
      <div class="user-info-container">
        <button [ngpMenuTrigger]="userInfoMenu" ngpButton>
          <div class="avatar-box">{{ initials() }}</div>
          <div class="info-box">
            <h5>{{ currentStaffMember()?.fullName }}</h5>
            <p>{{ positionLabel() }}</p>
          </div>
          <lucide-icon [img]="icons.ChevronDownIcon" [size]="14"></lucide-icon>
        </button>
        <ng-template #userInfoMenu>
          <div class="user-info-menu-items" ngpMenu>
            @for (item of userInfoMenuItems; track item.label) {
              <button class="uim-item" ngpMenuItem (click)="item.action()">
                <lucide-icon [img]="item.icon" [size]="16"></lucide-icon>
                <span>{{ item.label }}</span>
              </button>
            }
          </div>
        </ng-template>
      </div>
    </div>
  </div>
</div>
