@use '../../shared/styles/colors' as *;
@use 'cinefy-ui/styles/mixins' as *;
@use 'cinefy-ui/styles/breakpoints' as *;

.halls-container {
  padding: 32px;

  @include below-desktop {
    padding: 24px;
  }

  @include below-mobile {
    padding: 16px;
  }
}
