<ng-template #headerActionsTemplate>
  <div class="action-buttons-container">
    <button (click)="manageTypesVisible.set(true)">
      <svg
        [lucideIcon]="icons.SettingsIcon"
        [size]="16"
        [strokeWidth]="2.5"
        class="secondary-btn"
      ></svg>
      <span>Manage Hall Types</span>
    </button>
    <button (click)="addHallVisible.set(true)">
      <svg [lucideIcon]="icons.PlusIcon" [size]="16" [strokeWidth]="2.5"></svg>
      <span>Add New Hall</span>
    </button>
  </div>
</ng-template>

@if (manageTypesVisible()) {
  <manage-hall-types-modal (closed)="manageTypesVisible.set(false)" />
}

@if (addHallVisible()) {
  <hall-config-modal
    (closed)="addHallVisible.set(false)"
    (hallCreated)="hallsList().addHall($event)"
  />
}

<div class="halls-container">
  <halls-statistics />
  <halls-list (statisticsChanged)="hallsStatistics().applyChange($event)" />
</div>
