<div class="time-picker-wrapper">
  <p-datepicker
    [ngModel]="displayValue()"
    (ngModelChange)="onDisplayChange($event)"
    [ngModelOptions]="{ standalone: true }"
    [disabled]="control().disabled"
    (onBlur)="control().markAsTouched()"
    [placeholder]="placeholder()"
    [appendTo]="container()"
    [invalid]="control().touched && control().invalid"
    dataType="string"
    hourFormat="12"
    [timeOnly]="true"
    [showIcon]="true"
    [iconDisplay]="'input'"
    size="large"
  >
    <ng-template #inputicon let-clickCallBack="clickCallBack">
      <svg [lucideIcon]="icons.ClockIcon" [size]="16" (click)="clickCallBack($event)"></svg>
    </ng-template>
  </p-datepicker>

  @if (hint(); as hintText) {
  <p class="tp-hint">{{ hintText }}</p>
  } @if (control().touched && control().errors) {
  <cui-field-error [control]="control()" [messages]="errorMessages()" />
  }
</div>
