@use '../../shared/styles/colors' as *;
@use 'cinefy-ui/styles/mixins' as *;

.help-hint {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  padding: 16px;
  border-radius: $radius-xl;
  border: 1px solid $blue-100;
  background: rgba($blue-50, 0.6);
  color: #1e3a8a;
  @include lucide-icon-fix;

  > svg {
    flex-shrink: 0;
    margin-top: 2px;
    opacity: 0.8;
  }

  .hh-info {
    line-height: 1.6;

    h3 {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.4;
      margin-bottom: 4px;
    }
  }

  .hh-body {
    font-size: 12px;
    opacity: 0.8;

    a {
      color: $blue-700;
      font-weight: 600;
      text-decoration: underline;
    }
  }
}
