@use '../../shared/styles/colors' as *;
@use 'cinefy-ui/styles/mixins' as *;

.test-container {
  @include flex-column;

  gap: 24px;

  .test-header {
    @include flex-column;

    gap: 4px;

    .test-title {
      font-size: 24px;
      font-weight: 700;
      color: $gray-900;
    }

    .test-subtitle {
      font-size: 14px;
      color: $gray-600;
    }
  }
}
