<div class="date-picker-wrapper">
  <p-datepicker
    [formControl]="control()"
    [placeholder]="placeholder()"
    [minDate]="min()"
    [maxDate]="max()"
    [appendTo]="container()"
    [invalid]="control().touched && control().invalid"
    [autofocus]="false"
    dateFormat="yy-mm-dd"
    [showIcon]="true"
    [iconDisplay]="'input'"
    [showButtonBar]="true"
    size="large"
  >
    <ng-template #inputicon let-clickCallBack="clickCallBack">
      <svg [lucideIcon]="icons.CalendarIcon" [size]="16" (click)="clickCallBack($event)"></svg>
    </ng-template>
  </p-datepicker>

  @if (hint(); as hintText) {
  <p class="dp-hint">{{ hintText }}</p>
  } @if (control().touched && control().errors) {
  <field-error [control]="control()" [messages]="errorMessages()" />
  }
</div>
