<ng-template #headerActionsTemplate>
  <div class="action-buttons-container">
    @if (canBook()) {
      <button [ngpDialogTrigger]="scanTicketDialog">
        <svg
          [lucideIcon]="icons.QrCodeIcon"
          [size]="16"
          [strokeWidth]="2.5"
          class="secondary-btn"
        ></svg>
        <span>Scan Ticket</span>
      </button>

      <button [ngpDialogTrigger]="activeBookingsDialog">
        <svg
          [lucideIcon]="icons.TicketIcon"
          [size]="16"
          [strokeWidth]="2.5"
          class="secondary-btn"
        ></svg>
        <span>Active Bookings</span>
      </button>
    }

    @if (canManage()) {
      <button [ngpDialogTrigger]="scheduleMovieDialog">
        <svg [lucideIcon]="icons.PlusIcon" [size]="16" [strokeWidth]="2.5"></svg>
        <span>Schedule Movie</span>
      </button>
    }

    <ng-template #scanTicketDialog let-close="close">
      <app-modal
        [modalTitle]="scanTicket.modalTitle()"
        [description]="scanTicket.modalDescription()"
        width="480px"
        [close]="close"
      >
        <scan-ticket-modal #scanTicket [close]="close" />
      </app-modal>
    </ng-template>

    <ng-template #activeBookingsDialog let-close="close">
      <active-bookings-list [close]="close" />
    </ng-template>

    <ng-template #scheduleMovieDialog let-close="close">
      <manage-showtime-modal [close]="close" />
    </ng-template>
  </div>
</ng-template>

<div class="movies-container">
  @if (canManage()) {
    <movies-statistics />
  }
  <current-showtimes />
  @if (canManage()) {
    <upcoming-movies />
  }
</div>
