<div ngpToast #toast="ngpToast" class="toast-inner">
  <div class="toast-icon">
    @if (context.variant === 'success') {
      <lucide-icon [img]="icons.SuccessIcon" [size]="18" [strokeWidth]="2" />
    } @else {
      <lucide-icon [img]="icons.ErrorIcon" [size]="18" [strokeWidth]="2" />
    }
  </div>
  <span class="toast-message">{{ context.message }}</span>
  <button class="toast-close" (click)="dismiss()">
    <lucide-icon [img]="icons.CloseIcon" [size]="14" [strokeWidth]="2.5" />
  </button>
</div>
