<p-dialog
  [(visible)]="visible"
  [modal]="true"
  [draggable]="false"
  [focusOnShow]="false"
  [closable]="canClose()"
  [dismissableMask]="true"
  [style]="style() ?? {}"
  [contentStyle]="contentStyle() ?? {}"
  appendTo="body"
  (onHide)="closed.emit()"
  [styleClass]="'cui-dialog-panel ' + (hasCustomFooter() ? '' : 'cui-dialog-no-footer')"
>
  <ng-template #header>
    @if (hasCustomHeader()) {
    <ng-content select="[customHeader]" />
    } @else {
    <div class="cui-dialog-heading">
      <span class="cui-dialog-title">{{ headerText() }}</span>
      @if (description(); as description) {
      <span class="cui-dialog-description">{{ description }}</span>
      }
    </div>
    }
  </ng-template>

  <ng-content />

  <ng-template #footer>
    <ng-content select="[customFooter]" />
  </ng-template>
</p-dialog>
