<div
  ngpSelect
  [ngpSelectValue]="selectedItem()"
  (ngpSelectValueChange)="onValueChange($event)"
  (ngpSelectOpenChange)="onOpenChange($event)"
  [ngpSelectDisabled]="disabled()"
>
  @if (selectedItem(); as item) {
    {{ displayFn()(item) }}
  } @else {
    <span class="ps-placeholder">{{ placeholder() }}</span>
  }

  @if (clearable() && selectedItem()) {
    <lucide-icon
      class="ps-clear"
      [img]="XIcon"
      [size]="16"
      [strokeWidth]="2"
      (click)="clear($event)"
    />
  } @else {
    <lucide-icon class="ps-chevron" [img]="ChevronDownIcon" [size]="16" [strokeWidth]="2" />
  }

  <div *ngpSelectPortal ngpSelectDropdown class="ps-dropdown" (scroll)="onScroll($event)">
    @for (item of items(); track valueFn()(item)) {
      <div ngpSelectOption class="ps-option" [ngpSelectOptionValue]="item">
        {{ displayFn()(item) }}
      </div>
    } @empty {
      @if (!loading()) {
        <div ngpSelectOption class="ps-empty">No items available</div>
      }
    }

    @if (loading()) {
      <div class="ps-loading">
        <loading-spinner [size]="16" [strokeWidth]="2" />
      </div>
    }
  </div>
</div>
