@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-align {
  display: flex;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin lucide-icon-fix {
  svg {
    display: flex;
  }
}

@mixin text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin dialog-header {
  @include flex-align;

  gap: 8px;
  font-weight: 600;
}

@mixin dialog-footer {
  @include flex-align;

  gap: 12px;
  justify-content: flex-end;
}

@mixin scrollbar-thin {
  scrollbar-width: thin;
  scrollbar-color: var(--cui-scrollbar-thumb) transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--cui-scrollbar-thumb);
    border-radius: 999px;
  }
}
