<nav [(ngpPaginationPage)]="page" ngpPagination [ngpPaginationPageCount]="pageCount()" class="pagination">
  <div class="pagination-info-group">
    <span class="pagination-label"> Showing {{ startItem() }}–{{ endItem() }} of {{ totalItems() }} items </span>

    <div class="pagination-goto">
      <label for="goto-page">Go to page:</label>
      <input
        id="goto-page"
        type="number"
        [min]="1"
        [max]="pageCount()"
        [placeholder]="'#'"
        (keydown.enter)="goToPage($event)"
      />
    </div>
  </div>

  <div class="pagination-nav">
    <button ngpPaginationFirst title="First page">
      <svg [lucideIcon]="icons.ChevronsLeftIcon" [size]="16" [strokeWidth]="2.5"></svg>
    </button>

    <button ngpPaginationPrevious title="Previous page">
      <svg [lucideIcon]="icons.ChevronLeftIcon" [size]="16" [strokeWidth]="2.5"></svg>
    </button>

    <button ngpPaginationNext title="Next page">
      <svg [lucideIcon]="icons.ChevronRightIcon" [size]="16" [strokeWidth]="2.5"></svg>
    </button>

    <button ngpPaginationLast title="Last page">
      <svg [lucideIcon]="icons.ChevronsRightIcon" [size]="16" [strokeWidth]="2.5"></svg>
    </button>
  </div>
</nav>
