<nav [(ngpPaginationPage)]="page" ngpPagination [ngpPaginationPageCount]="pageCount()" class="pagination">
  <div class="pagination-info-group">
    <span class="pagination-label"> Showing {{ startItem() }}–{{ endItem() }} of {{ totalItems() }} items </span>

    <div class="pagination-goto">
      <label for="goto-page">Go to page:</label>
      <input
        id="goto-page"
        type="number"
        [min]="1"
        [max]="pageCount()"
        [placeholder]="'#'"
        (keydown.enter)="goToPage($event)"
      />
    </div>
  </div>

  <div class="pagination-nav">
    <button ngpPaginationFirst [ngpTooltipTrigger]="firstTooltip">
      <svg [lucideIcon]="icons.ChevronsLeftIcon" [size]="16" [strokeWidth]="2.5"></svg>
    </button>

    <button ngpPaginationPrevious [ngpTooltipTrigger]="prevTooltip">
      <svg [lucideIcon]="icons.ChevronLeftIcon" [size]="16" [strokeWidth]="2.5"></svg>
    </button>

    <button ngpPaginationNext [ngpTooltipTrigger]="nextTooltip">
      <svg [lucideIcon]="icons.ChevronRightIcon" [size]="16" [strokeWidth]="2.5"></svg>
    </button>

    <button ngpPaginationLast [ngpTooltipTrigger]="lastTooltip">
      <svg [lucideIcon]="icons.ChevronsRightIcon" [size]="16" [strokeWidth]="2.5"></svg>
    </button>
  </div>
</nav>

<ng-template #firstTooltip>
  <div ngpTooltip class="pagination-tooltip">First page</div>
</ng-template>

<ng-template #prevTooltip>
  <div ngpTooltip class="pagination-tooltip">Previous page</div>
</ng-template>

<ng-template #nextTooltip>
  <div ngpTooltip class="pagination-tooltip">Next page</div>
</ng-template>

<ng-template #lastTooltip>
  <div ngpTooltip class="pagination-tooltip">Last page</div>
</ng-template>
