<div class="header-container">
  <div class="header-inner">
    <div class="header-left">
      <button class="hamburger-btn" (click)="openSidebar()">
        <svg [lucideIcon]="icons.MenuIcon" [size]="22"></svg>
      </button>
    </div>
    <div class="header-right">
      @if (headerActionsTemplate()) {
        <div class="header-actions">
          <ng-container *ngTemplateOutlet="headerActionsTemplate()"></ng-container>
        </div>
        <div class="header-divider"></div>
      }
      <div class="user-info-container">
        <cui-menu [items]="userInfoMenuGroups">
          <button class="user-info-trigger">
            <div class="avatar-box">{{ initials() }}</div>
            <div class="info-box">
              <h5>{{ currentStaffMember()?.fullName }}</h5>
              <p>{{ positionLabel() }}</p>
            </div>
            <svg [lucideIcon]="icons.ChevronDownIcon" [size]="14"></svg>
          </button>
        </cui-menu>
      </div>
    </div>
  </div>
</div>
