<div class="upcoming-movies-container">
  <div class="header">
    <div class="h-info">
      <div class="hi-details">
        <lucide-icon [img]="CalendarIcon" [size]="20"></lucide-icon>
        <h3>Upcoming Movies</h3>
      </div>
      <p>Movies releasing soon that you can schedule</p>
    </div>
  </div>
  <div class="content">
    @if (loading()) {
      <div class="um-loading">
        <loading-spinner variant="md" />
      </div>
    } @else {
      @for (upcomingMovie of movies(); track upcomingMovie.id) {
        <div class="movie-card">
          <div class="mc-img">
            <img [src]="upcomingMovie.posterUrl" [alt]="upcomingMovie.title" />
          </div>
          <div class="mc-body">
            <div class="mc-info">
              <div class="mci-title">
                <h4>{{ upcomingMovie.title }}</h4>
                @if (isComingSoon(upcomingMovie.releaseDate)) {
                  <span class="mci-badge">Coming Soon</span>
                }
              </div>
              <div class="mci-items">
                @if (upcomingMovie.genre) {
                  <span class="mci-item">{{ upcomingMovie.genre }}</span>
                }
              </div>
            </div>
            @if (upcomingMovie.releaseDate; as releaseDate) {
              <div class="mc-date">
                <lucide-icon [img]="CalendarIcon" [size]="14"></lucide-icon>
                <span>{{ releaseDate }}</span>
              </div>
            }
            <div class="mc-actions">
              <button ngpButton [ngpDialogTrigger]="scheduleDialog">Schedule Showtimes</button>
            </div>

            <ng-template #scheduleDialog let-close="close">
              <manage-showtime-modal
                [close]="close"
                [selectedMovie]="upcomingMovie"
                [showSelectedMovie]="false"
              />
            </ng-template>
          </div>
        </div>
      } @empty {
        <div class="um-empty">
          <p>No upcoming movies available.</p>
        </div>
      }
    }
  </div>
</div>
