<cui-dialog [style]="{ width: '640px' }" (closed)="closed.emit()">
  <div customHeader class="sd-modal-header">
    <span class="sdmh-title">Staff Details</span>
    @if (canManage()) {
      <button class="sd-action-btn" pTooltip="Edit Info" (click)="requestEdit()">
        <svg [lucideIcon]="icons.EditIcon" [size]="20" [strokeWidth]="2"></svg>
      </button>
    }
  </div>

  @if (loading()) {
    <div class="staff-details-loading">
      <cui-loading-spinner variant="md" />
    </div>
  } @else if (staffMember(); as member) {
    <div class="staff-details-container">
      <div class="sdc-section">
        <div class="sdc-section-title">Identity</div>
        <div class="sdc-section-items">
          <div class="sdcs-item">
            <div class="sdcs-item-icon">
              <svg [lucideIcon]="icons.UserIcon" [size]="14"></svg>
            </div>
            <div class="sdcs-item-info">
              <span class="item-title">Name</span>
              <span class="item-value">{{ member.firstName }} {{ member.lastName }}</span>
            </div>
          </div>
          <div class="sdcs-item">
            <div class="sdcs-item-icon">
              <svg [lucideIcon]="icons.BriefCaseIcon" [size]="14"></svg>
            </div>
            <div class="sdcs-item-info">
              <span class="item-title">Position</span>
              <span class="item-value">{{ positionLabels[member.position] }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="sdc-section">
        <div class="sdc-section-title">Contact</div>
        <div class="sdc-section-items full">
          <div class="sdcs-item">
            <div class="sdcs-item-icon">
              <svg [lucideIcon]="icons.EmailIcon" [size]="14"></svg>
            </div>
            <div class="sdcs-item-info">
              <span class="item-title">Email</span>
              <span class="item-value">{{ member.email }}</span>
            </div>
          </div>
          <div class="sdcs-item">
            <div class="sdcs-item-icon">
              <svg [lucideIcon]="icons.PhoneIcon" [size]="14"></svg>
            </div>
            <div class="sdcs-item-info">
              <span class="item-title">Phone</span>
              <span class="item-value">{{ member.phoneNumber | phoneFormat }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="sdc-section">
        <div class="sdc-section-title">Employment</div>
        <div class="sdc-section-items">
          <div class="sdcs-item">
            <div class="sdcs-item-icon">
              <svg [lucideIcon]="icons.CalendarIcon" [size]="14"></svg>
            </div>
            <div class="sdcs-item-info">
              <span class="item-title">Hired On</span>
              <span class="item-value">{{ member.hiredAt | date: 'mediumDate' }}</span>
            </div>
          </div>
          <div class="sdcs-item">
            <div class="sdcs-item-icon">
              <svg [lucideIcon]="icons.BriefCaseIcon" [size]="14"></svg>
            </div>
            <div class="sdcs-item-info">
              <span class="item-title">Employment Type</span>
              <span class="item-value">{{ employmentTypeLabels[member.employmentType] }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="sdc-section">
        <div class="sdc-section-title">Working Schedule</div>
        <div class="sdc-section-items">
          <div class="sdcs-item">
            <div class="sdcs-item-icon">
              <svg [lucideIcon]="icons.CalendarIcon" [size]="14"></svg>
            </div>
            <div class="sdcs-item-info">
              <span class="item-title">Working days</span>
              <span class="item-value">
                {{ weekDayLabels[member.workingDayStart] }} –
                {{ weekDayLabels[member.workingDayEnd] }}
              </span>
            </div>
          </div>
          <div class="sdcs-item">
            <div class="sdcs-item-icon">
              <svg [lucideIcon]="icons.CalendarIcon" [size]="14"></svg>
            </div>
            <div class="sdcs-item-info">
              <span class="item-title">Working hours</span>
              <span class="item-value">
                {{ member.workingHourStart | time12h }} – {{ member.workingHourEnd | time12h }}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</cui-dialog>
