@use '../../../shared/styles/colors' as *;
@use 'cinefy-ui/styles/mixins' as *;
@use '../hall-type-row' as *;

@include hall-type-row;

.manage-types-modal-content {
  @include flex-column;
  gap: 16px;

  .new-type-container {
    margin-top: 4px;

    .new-type-form {
      display: flex;
      align-items: flex-start;
      gap: 12px;
      padding: 10px;
      background-color: $gray-50;
      border-radius: $radius-md;
      border: 1px solid $gray-200;
    }

    .btn-add-new-type {
      @include flex-center;
      @include lucide-icon-fix;
      gap: 6px;
      width: 100%;
      padding: 10px;
      font-size: 14px;
      font-weight: 500;
      color: $blue-600;
      background-color: $gray-50;
      border: 1px dashed $gray-300;
      border-radius: $radius-md;
      transition: all $transition-fast;

      &:hover {
        background-color: $blue-50;
        border-color: $blue-300;
      }
    }
  }
}
