<cui-dialog header="Manage hall types" (closed)="closed.emit()" [style]="{ width: '480px' }">
  <div class="manage-types-modal-content">
    <hall-types-list #typesList />
    <div class="new-type-container">
      @if (showNewTypeForm()) {
        <form
          class="new-type-form"
          [formGroup]="newTypeForm"
          (ngSubmit)="addType()"
          (keydown.escape)="cancelAddType()"
        >
          <div class="type-tile">
            <svg [lucideIcon]="icons.TagIcon" [size]="17" [strokeWidth]="2"></svg>
          </div>
          <div class="inline-edit-field">
            <cui-input
              placeholder="e.g. ScreenX, Dolby Atmos"
              [control]="newTypeForm.controls.name"
              [errorMessages]="nameErrorMessages"
              [autoFocus]="true"
            />
          </div>
          <div class="action-buttons editing">
            <button
              type="submit"
              pTooltip="Save"
              tooltipPosition="top"
              [disabled]="newTypeForm.invalid || addingType()"
            >
              @if (addingType()) {
                <cui-loading-spinner variant="xs" />
              } @else {
                <svg [lucideIcon]="icons.CheckIcon" [size]="14" [strokeWidth]="2.5"></svg>
              }
            </button>
            <button
              type="button"
              (click)="cancelAddType()"
              [disabled]="addingType()"
              pTooltip="Cancel"
              tooltipPosition="top"
            >
              <svg [lucideIcon]="icons.XIcon" [size]="14" [strokeWidth]="2.5"></svg>
            </button>
          </div>
        </form>
      } @else if (!typesList.loadTypesError()) {
        <button class="btn-add-new-type" (click)="startAddingType()">
          <svg [lucideIcon]="icons.PlusIcon" [size]="16" [strokeWidth]="2.5"></svg>
          Add new type
        </button>
      }
    </div>
  </div>
</cui-dialog>
